/* loaders */
.app-loader {
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid #3c8dbc;
    border-bottom: 16px solid #3c8dbc;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.loader {
    border: 1px solid #ffffff;
    border-radius: 50%;
    border-top: 2px solid #3c8dbc;
    border-bottom: 2px solid #3c8dbc;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}